@page
@model OU.Microservice.Web.Pages.Auth.SignInModel

<div class="row justify-content-center mt-5">
    <h2>Sign In</h2>
    <div asp-validation-summary="ModelOnly">

    </div>
    <form method="post">

        <div class="mb-3">
            <label asp-for="SignInViewModel.Email" class="col-form-label"></label>
            <input asp-for="SignInViewModel.Email" class="form-control" />
            <div class="text-danger">
                <span asp-validation-for="SignInViewModel.Email"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="SignInViewModel.Password" class="col-form-label"></label>
            <input asp-for="SignInViewModel.Password" class="form-control" type="password" />
            <div class="text-danger">
                <span asp-validation-for="SignInViewModel.Password"></span>
            </div>
        </div>
      
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-secondary">Sign In</button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

