<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - UdemyMicroservices.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>